.platform-win .typeWindows-1za-n7 {
    height: 9px;
    margin-top: 0;
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    background: rgba(0, 128, 0, 0.3);
}

.platform-win .container-1r6BKw {
    padding-right: var(--TB-header-padding, 125px);
}
.platform-win .wordmarkWindows-1v0lYD {
    display: none;
}
.platform-win  #app-mount.bd-detached-editor .winButton-iRh8-Z {
    right: 30%;
}
