.platform-win .typeWindows-1za-n7 {
    height: 20px;
    margin-top: 0;
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
}
.platform-win .wordmarkWindows-1v0lYD {
    display: none;
}
.platform-win  #app-mount.bd-detached-editor .winButton-iRh8-Z {
    right: 30%;
}
